-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "PapelUsuario" AS ENUM ('PROPRIETARIO', 'ADMINISTRADOR', 'ACOUGUEIRO', 'CAIXA');

-- CreateEnum
CREATE TYPE "CanalDeVenda" AS ENUM ('SALAO', 'MERCADO');

-- CreateTable
CREATE TABLE "Usuario" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "senhaHash" TEXT NOT NULL,
    "papel" "PapelUsuario" NOT NULL,
    "refreshTokenHash" TEXT,
    "criadoEm" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "atualizadoEm" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Usuario_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Corte" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,

    CONSTRAINT "Corte_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Pedido" (
    "id" TEXT NOT NULL,
    "canal" "CanalDeVenda" NOT NULL,
    "valorTotal" MONEY NOT NULL,
    "criadoEm" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Pedido_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ItemDePedido" (
    "id" TEXT NOT NULL,
    "pedidoId" TEXT NOT NULL,
    "corteId" TEXT NOT NULL,
    "pesoKg" DECIMAL(65,30) NOT NULL,
    "valorTotal" MONEY NOT NULL,

    CONSTRAINT "ItemDePedido_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Cliente" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,

    CONSTRAINT "Cliente_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ContaCorrente" (
    "id" TEXT NOT NULL,
    "clienteId" TEXT NOT NULL,
    "saldoDevedor" MONEY NOT NULL,

    CONSTRAINT "ContaCorrente_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PecaEmMaturacao" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "tipo" TEXT NOT NULL,
    "diasAtual" INTEGER NOT NULL,
    "diasTotal" INTEGER NOT NULL,

    CONSTRAINT "PecaEmMaturacao_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ItemDeEstoque" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "quantidadeAtual" DECIMAL(65,30) NOT NULL,
    "quantidadeMinima" DECIMAL(65,30) NOT NULL,
    "unidade" TEXT NOT NULL,

    CONSTRAINT "ItemDeEstoque_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Usuario_email_key" ON "Usuario"("email");

-- CreateIndex
CREATE UNIQUE INDEX "Corte_nome_key" ON "Corte"("nome");

-- CreateIndex
CREATE UNIQUE INDEX "ContaCorrente_clienteId_key" ON "ContaCorrente"("clienteId");

-- AddForeignKey
ALTER TABLE "ItemDePedido" ADD CONSTRAINT "ItemDePedido_pedidoId_fkey" FOREIGN KEY ("pedidoId") REFERENCES "Pedido"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ItemDePedido" ADD CONSTRAINT "ItemDePedido_corteId_fkey" FOREIGN KEY ("corteId") REFERENCES "Corte"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ContaCorrente" ADD CONSTRAINT "ContaCorrente_clienteId_fkey" FOREIGN KEY ("clienteId") REFERENCES "Cliente"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

