NODE_ENV=development
PORT=3000
DATABASE_URL="postgresql://point:point@localhost:5432/point_steakhouse"
FRONTEND_URL="http://localhost:5173"

# Gerar com: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_ACCESS_SECRET="troque-por-um-valor-aleatorio-de-32-caracteres-ou-mais"
JWT_ACCESS_EXPIRACAO="15m"
JWT_REFRESH_SECRET="troque-por-outro-valor-aleatorio-de-32-caracteres-ou-mais"
JWT_REFRESH_EXPIRACAO="30d"
